.UserInfo {
    padding: 20px;
}

.contact-name {
    color: #05001e;
}

.UserInfo .info-box {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(53, 44, 171, 0.1);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.UserInfo .info-box p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}