.add-contacts-container {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Manual add section */
.manual-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* Input fields */
.manual-add input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.manual-add input[type="text"]:focus {
    border-color: #4B0082;
    outline: none;
}

.add-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: #551A8B;
}
